.header {
  position: sticky;
  background-color: var(--bg);
  z-index: 90;
  max-width: 430px;
  height: 113px;
  margin-top: 20px;
  margin-left: 150px;
}

.nav {
  display: flex;
  align-items: center;
  height: auto; 
  justify-content: flex-start;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-right: 430px;
}

.Logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.backIcon {
  width: 75px;
  height: auto;
  margin-left: 10px;
}

.filterItem {
  margin-left: auto; 
  margin-right: 10px;
}

.content {
  min-height: 100vh;
  padding-top: 200px; 
}

.navList li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}