.nav {
  overflow: hidden;
  background-color: var(--bg);
  width: 430px;
  height: 131px;
  display: flex;
  align-items: center;
  position: relative;
  top: 30px;
}
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
  }

  .header {
    position: sticky;
  }
  
  .Logo {
    width:80px;
    height:auto;
  }
  
  .navList li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .logoContainer {
    align-items: center; 
  }

  .backIcon {
    width: 75px; 
    height: auto; 
  }
  .filterItem {
    z-index: 2;
  }