.nav {
    overflow: hidden;
    background-color: none;
    width: 430px;
    margin-top: 80px;
    margin-right: 30px;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .Logo {
    width:80px;
    height:auto;
  }
  
  .navList li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .logoContainer {
    align-items: center; 
  }

  .Back {
    width: 50px; 
    height: auto; 
  }