.button {
    width: 191px;
    height: 49px;
    border-radius: 30px;
    background-color: var(--primary);
    color: var(--bg);
    border-color: var(--secondary);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    font-size: var(--font-body-bold-size);
}

.button:active {
    background-color: var(--secondary);
    border-color: var(--primary)
}

.button:hover {
    background-color: var(--secondary);
    border-color: var(--primary)
}