.cardContainer {
  display: flex;
  width: 370px;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 1.5em;
  border-radius: 25px;
  background-color: var(--bgAccent);
  box-sizing: border-box;
}

.image {
  width: 8em;
  height: 8em;
  border-radius: 20px;
  object-fit: cover;
  margin-top: -100px; 
  margin-right: 22px;
}

.details {
  flex: 1;
}

.title {
  font-weight: 375;
  margin-bottom: 5px;
  margin-top: 5px;
}

.rating {
  color: var(--primary);
  margin-bottom: 5px;
}

.vicinity {
  color: var(--primary-light);
  margin-bottom: 5px;
}

.status {
  font-weight: bold;
  margin-bottom: 5px;
}

.open {
  color: var(--open);
}

.closed {
  color: var(--closed);
}

.directionsButton {
  display: block;
}
