.filter {
    position: absolute;
    z-index: 2000;
  }
  
  .dropdownContainer {
    position: relative; 
    z-index: 2000; 
  }
  
  .dropdown {
    position: absolute; 
    left: 0;
    width: 200px;
    max-height: 300px; 
    overflow-y: auto; 
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
    font-size: var(--font-body-bold-size);
  }
  
  .menuIcon {
    cursor: pointer;
    position: absolute;
    left: 200px;
    transform: translateY(-50%);
  }
  
  .dropdown option {
    background-color: var(--primary);
    border: 1px solid var(--border-color);
    gap: 2px;
    max-height: 50px;
    margin-top: 15px;
  }
  
  .dropdown option:checked {
    background-color: var(--bg);
  }
  
  .dropdown option:hover {
    color: var(--bg);
  }
  