.footer {
    width: 430px;
    max-height: 80px; 
    background-color: var(--bgAccent);
    padding: 10px 0; 

    position: sticky;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 40px;
    bottom: 0;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  }
  
  .imageContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
    margin-top: 5px; 
    text-align: center;
  }

  .iconText {
    margin-top: -20px;
    font-size: var(--font-nav-size);
    color: var(--primary);
  }
