.footer {
    width: 430px;
    max-height: 80px; 
    background-color: var(--bgAccent);
    color: #fff;
    padding: 10px 0; 
    text-align: center;
    position: sticky;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    bottom: 0;
  }
  
  .imageContainer img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    border-top-left-radius: 41px; 
    border-top-right-radius: 41px;
  }
  
  .imageContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-top: 5px; 
  }
  