.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    position: relative;
  }

  .tutorialcontainer {
    width: 430px;
    min-height: 932px;
    background-color: var(--bg);
    align-self: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display:grid;
}

.button{
    width: 191px;
    height: 49px;
    border-radius: 30px;
    background-color: var(--primary);
    color: var(--bg);
    border-color: var(--secondary);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    font-size: var(--font-body-bold-size);
    }
    
 .button:active {
    background-color: var(--secondary);
    border-color: var(--primary)
}
.p0{
    width:10px;
    height:10px;
    margin-right: 5px;
    margin-left:5px;
    margin-bottom: 10px;
    background-color: var(--bgAccent);
    color: var(--bgAccent);
    border-radius: 20px; 
  }
  .p1{
    background-color: var(--primary);
    color: var(--primary);
    width:20px;
    height:10px;
    margin-bottom: 10px;
    border-radius: 20px; 
  }
  .p0::-webkit-progress-value {
    background-color: var(--bgAccent); 
    border-radius: 20px;
  }
  .p0::-moz-progress-bar {
    background-color: var(--bgAccent); 
    border-radius: 20px;
  }
  .p1::-webkit-progress-value {
    background-color: var(--primary); 
    border-radius: 20px;
  }
  .p1::-moz-progress-bar {
    background-color: var(--primary); 
    border-radius: 20px;
  }
  