.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
  }
  
  .resultsSection {
    background-color: var(--bgAccent);
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 55%;
  }
  
  .results {
    font-size: var(--font-body);
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .title {
    position: relative;
    top: 50px;
  }