.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.results {
  font-size: var(--font-body);
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.title {
  position: relative;
  top: 50px;
}

.lottieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.recipeItem {
  margin: 10px 0;
}

.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.reccomend {
  text-align: center;
}