.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    position: relative;
  }

  .descriptionContainer {
    width: 430px;
    min-height: 932px;
    background-color: var(--bg);
    align-self: center;
    position: relative;
    z-index: 1;
}

  .imageContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .imageContainer img {
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease;
    mask-image: linear-gradient(to top, black 70%, transparent 100%);
  }
  
  .descriptionCard {
    max-width: 430px;
    position: relative;
    background: var(--bg);
    border-top-left-radius: 41px;
    border-top-right-radius: 41px;
    top: -50px;
    padding: 30px;
    text-align: left;
  }

  .row1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nutritionButton {
    text-decoration: underline;
    background-color: transparent;
    border: none;
  }

  .nutritionPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .closeButton {
    background-color: transparent;
    border: none;
    font-size: 20pt;
  }

  .dishName {
    font-size: var(--font-h2);

  }
 
  .categories {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;;
  }

  .category {

  }
  
  .categoryText {
    
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  