.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.directoryContainer {
  width: 430px;
  min-height: 932px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  align-self: flex-start;
  padding: 20px;
  font-size: 2em;
  text-align: left;
  font-size: var(--font-h1-size);
}

.headfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}