.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    min-height: 932px; 
    background-color: var(--bg);
    margin: 0 auto; 
}


.content {
    padding: 20px;
}

.head{
    font-size: var(--font-h1-size);
}

.subhead{
font-size: var(--font-body-size);
font-weight: var(--font-body-bold-weight);
font-family: var(--font-family-default);
}

.question{
    margin-bottom: 30px;
}