:root {
    --primary: #2B3F47;
    --secondary: #46757C;
    --bg: #EFFFF8;
    --bgAccent: #C2EEE1;

    --font-h1: 3.5em;
    --font-h2: 2.5em;
    --font-h3: 1.5em;
    --font-h4: 1.25em;
    --font-body: 14pt;
    --font-body-bold: 16pt bold;

}

body {
    margin: 0;

    font-family: 'Poppins', 'sans';
    color: var(--primary);
}

.quizContainer {
    background-color: var(--bg);
}