:root {
    --primary: #2B3F47;
    --secondary: #46757C;
    --bg: #EFFFF8;
    --bgAccent: #C2EEE1;

    --font-h1: 3.5em;
    --font-h2: 2.5em;
    --font-body: 14pt;
    --font-body-bold: 16pt bold;

}

body {
    margin: 0;
    background-color: var(--bg);
    font-family: 'Poppins', 'sans';
}