.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 430px;
    min-height: 932px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .catcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .expcontainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .message2 {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-size: var(--font-h1-size);
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
    padding-right: 25px;
  }
  
  .help {
    width: 100px;
    height: auto;
  }
  
  .message2 a{
    margin-right: 30px;
    font-size: var(--font-body-bold-size);
    color: var(--primary);
    font-weight: var(--font-body-bold-weight);
  }
  
  .message2 h1{
    margin-right:75px;
  }