
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 80vh;
  background-color: var(--bg);
}

.title {
  font-size: var(--font-h1);
  display: none;
}

.logo {
  width: 300px;
  height: 300px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
