.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: var(--font-h1);
  display: none;
}

.logo {
  width: 300px;
  height: 300px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  width: 430px;
  height: 932px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}