.main {
    text-align: center;
    min-height: 80vh;
  }
  
  .radioOption {
    margin-bottom: 10px;
  }
  
  .radioLabel {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  
  .radioLabel:hover {
    background-color: #f0f0f0;
  }
  
  .radioLabel input {
    margin-right: 5px;
    cursor: pointer;
  }
  .title {
    margin-top: 60px;
  }