.main {
    text-align: center;
  }
  
  .radioOption {
    margin-bottom: 10px;
    align-items: flex-start;
    display: flex;
  }
  
  .radioLabel {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radioLabel:hover {
    background-color: #f0f0f0;
  }
  
  .radioLabel input {
    margin-right: 5px;
    cursor: pointer;
  }
  