.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }

  .quizContainer {
    width: 430px;
    min-height: 932px;
    background-color: var(--bg);
    align-self: center;
}

  .title {
    margin-bottom: 50px;
  }
  
  .radioOption {
    width: 100%;
  }
  
  .radioLabel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
  }

  .progressBar {
    position: relative;
    top: 60px;
    width: 400px;
    margin-bottom: 70px;
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
  }