.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 430px;
  min-height: 932px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.help {
  width: 100px;
  height: auto;
}

.searchbox {
  position: relative; 
  top: 2em;
  width: 330px;
  background-color: var(--bgAccent);
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 20px;
  border-color: var(--primary);
  border-style: solid;
  margin-left: 10px;
  height:20px;
  text-align: left;
}

.results {
  margin-top: 60px; 
  min-height: 65vh;
}
.input {
  border: none; 
  outline: none; 
  width: 100%; 
  text-align: center; 
  background-color: var(--bgAccent);
}
.Footer{
  width: 430px;
  max-height: 80px; 
  background-color: var(--bgAccent);
  color: #fff;
  padding: 10px 0; 
  text-align: center;
  position: sticky;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 40px;
  bottom: 0;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  z-index: 100;
  justify-content: space-around;
  
}

.searchIcon{
    width: 50px;
    height: 50px; 
    position: absolute;
    left: 20px;
    top: -3px;
}

.inputWrapper input{
  text-align: left;
  margin-left: 60px;
  width: 200px;
}