.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 430px;
    min-height: 100vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .help {
    width: 100px;
    height: auto;
  }
  
  .searchbox {
    position: relative;
    top: 2em;
    left: 0;
    width: 330px;
    background-color: var(--bgAccent);
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; 
    align-items: center;
    border-radius: 20px;
    border-color: var(--primary);
    border-style: solid;
  }
  
  .results {
    margin-top: 60px; 
  }
  .input {
    border: none; 
    outline: none; 
    width: 100%; 
    text-align: center; 
    background-color: var(--bgAccent);
  }
  .Footer{
    width: 430px;
    max-height: 80px; 
    background-color: var(--bgAccent);
    color: #fff;
    padding: 10px 0; 
    text-align: center;
    position: sticky;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 40px;
    bottom: 0;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
    z-index: 100;
    justify-content: space-around;
  }