.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 430px;
  min-height: 932px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearButton {
  background-color: var(--primary);
  color: var(--bg);
  border-color: var(--secondary);
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.clearButton:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
}

.contentContainer {
  min-height: 530px;
  width: 100%;
  background-color: var(--bg);
}

.outerContentContainer {
  width: 390px;
}

.ingredientsList {
  list-style-type: none;
  padding: 0;
}

.ingredientItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ingredientText {
  flex: 1;
  padding-right: 10px;
  word-break: break-word;
}

.ingredientCheckbox {
  margin-right: 30px;
  padding: 10px;
  background-color: var(--bg);
}

.ingredientCheckbox {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #4a7c80;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.13s, border-color 0.13s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.ingredientCheckbox:checked {
  background-color: var(--secondary);
  border-color: var(--primary);
}

.ingredientCheckbox:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 7.5px;
  border: solid #e8f5f7;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -70%) rotate(135deg) scaleY(-1);
}